# Dependencies
node_modules/
.pnpm-store/

# Production Build Output
dist/
dist-ssr/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Server logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
